<!DOCTYPE html>
<html>
<head>
	<title>FSE Chatroom</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/app.css">
</head>
<body>
	<nav class = "navbar navbar-default">
	<div class = "container-fluid">
		<div class = "navbar-header">
			<a class ="navbar-brand" href="/">FSE Chat Room</a>
		</div>
	</div>
</nav>

	