<%include partials/header%>


<div class = "container">
	<header class = "jumbotron">
		<h1 style= "text-align: center">Welcome to FSE Chatroom!</h1>
		<p style="text-align: center">
			Already have an account? Press to Login!
		</p>
		<div class = "wrapper"> 
		<p>
			<a class= "btn btn-primary btn-lg" href="/login"> Login </a>
		</p>
		</div>
		<p style = "text-align: center">
			Do not have an account yet? Press to sign up!
		</p>
		<div class = "wrapper">
		<p>
			<a class= "btn btn-primary btn-lg" href="/signup"> Sign Up </a>
		</p>
		</div>



	</header>
	

</div>



<%include partials/footer%>