<%include partials/header%>

<div class="alert alert-warning" role="alert" style = "margin: 40px; text-align: center" >
	<h3>Failed... You might have entered an invalid username or password</h3>
	<h3>Click <a href="/login"><strong>here</strong></a> to try again</h3>
</div>



<%include partials/footer%>