<%include partials/header%>



<div class="alert alert-warning" role="alert" style = "margin: 40px; text-align: center" >
	<h3>Failed... The user already exists</h3>
	<h3>Click <a href="/signup"><strong>here</strong></a> to try again</h3>
</div>


<%include partials/footer%>
