<%include partials/header%>
<div class="alert alert-warning" role="alert" style = "margin: 40px; text-align: center" >
	<h3>Please login first...</h3>
	<h3>Click <a href="/login"><strong>here</strong></a> to log in</h3>
</div>



<%include partials/footer%>